@font-face {
    font-family: 'Vinque';
    src: url('fonts/vinque_rg.otf');
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('fonts/caslon_antique_italic.ttf');
}

body {
    padding-top: 110px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

#chessBoard {
    width: 95%;
    text-align: left;
}

#moves, .col-xs-12.col-sm-6 {
    width: 45%;
}

#moves {
    margin: 0;
    outline: 1px solid rgb(52, 50, 50);
    height: 500px;
    display: flex;
    text-align: left;
    font-family: 'Caslon Antique', serif;
    border-radius: 5px 10px 15px 20px;
}

#white, #black {
    width: 45%;
}