<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chess by GPT 4</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='libs/chessboard/css/chessboard-0.3.0.css') }}"></link>
        <link rel="shortcut icon" href="{{ url_for('static', filename='rook_favicon.ico') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-0.3.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='libs/chessboard/js/chessboard-0.3.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='main.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <div id="chessBoard">
                    <div id="piecesB"></div>
                    <div id="board"></div>
                    <div id="piecesW"></div>
                </div>
                <span class="span" id="promotion">
                    <button class="promotion-button" id="queen">
                        <img src="/static/images/wQ.png">
                    </button>
                    <button class="promotion-button" id="rook">
                        <img src="/static/images/wR.png">
                    </button>
                    <button class="promotion-button" id="bishop">
                        <img src="/static/images/wB.png">
                    </button>
                    <button class="promotion-button" id="knight">
                        <img src="/static/images/wN.png">
                    </button>
                    <h2 class="promotion-question">Which piece would you like to promote to?</h2>     
                </span>
            </div>
            <div id="moves" class="col-xs-12 col-sm-6">
                <div id="move">
                    <h2>Move #</h2>
                    <p id="move-number"></p>
                </div>
                <div id="white">
                    <h2>White</h2>
                    <p id="white-moves"></p>
                </div>
                <div id="black">
                    <h2>Black</h2>
                    <p id="black-moves"></p>
                </div>
            </div>
        </div>
        <dialog id="gameOverDialog">
            <p id="gameOverText"></p>
            <button id="gameOverButton">reset</button>
        </dialog>
    </body>
</html>
